<htm>
    <body>
        <form method = "POST">
        <table border="1">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type = "submit" value="Light1"></td>
                    <td><input type = "submit" value="ON"></td>
                    <td><input type = "submit" value="OFF"></td> <br>
                </tr>
                
                <tr>
                    <td><input type = "submit" value="Light2"></td>
                    <td><input type = "submit" value="ON"></td>
                    <td><input type = "submit" value="OFF"></td> <br>
                </tr>
                <tr>
                    <td><input type = "submit" value="Fan1"></td>
                    <td><input type = "submit" value="ON"></td>
                    <td><input type = "submit" value="OFF"></td> <br>
                </tr>
                <tr>
                    <td><input type = "submit" value="Fan2"></td>
                    <td><input type = "submit" value="ON"></td>
                    <td><input type = "submit" value="OFF"></td> <br>
                </tr>
                <tr>
                    <td><input type = "submit" value="AC"></td>
                    <td><input type = "submit" value="ON"></td>
                    <td><input type = "submit" value="OFF"></td>
                </tr>
            </tbody>
        </table>
        </form>

    </body>
</htm>
