body{
  margin-top: 70px;
  font-size: 16px;
}

.navbar-default
{
  background: #fff;
  border: 0;
  font-family: Poppins;
}

.navbar-brand
{
  font-size: 20px;
  color: #000 !important;
  font-weight: bold;
}

#showcase h1
{
  font-size: 50px;
  margin-bottom: 20px;
}

h1,h2
{
  font-family: Poppins;
}

p
{
  font-family: Roboto;
}

#showcase img
{
    width:90%;
    margin-left: 10px;
}

#showcase .showcase-right
{
    margin-top: 90px;
}

#testimonial
{
    background: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}


#testimonial p{
    font-size: 32px;
    font-family: 'Josefin Sans';
    color: #000;
}


#testimonial p.customer
{
    font-size: 20px;
    color: #666;
}



#info1 .info-right
{
    margin-top: 90px;
}


#info2
{
    margin: 20px 0 60px 0;
}

#contact
{
    background: url(../images/image4.jpg);
    padding: 40px;
    color: #fff;
    border-top: #333 7px solid;
    border-bottom: #333 7px solid;
}

footer
{
    padding: 30px;
}
